---
export interface Props {
  title: string;
}

import fullpage from 'fullpage.js';

var myFullpage = new fullpage('#fullpage', {
		sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff']
	});

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <!-- 여기서부터 fullpage 넣어본다. -->
    <div id="fullpage">
        <div class="section active" id="section0"><h1>fullPage.js</h1></div>
        <div class="section" id="section1">
            <div class="slide "><h1>Simple Demo</h1></div>
            <div class="slide active"><h1>Only text</h1></div>
            <div class="slide"><h1>And text</h1></div>
            <div class="slide"><h1>And more text</h1></div>
        </div>
        <div class="section" id="section2"><h1>No wraps, no extra markup</h1></div>
        <div class="section" id="section3"><h1>Just the simplest demo ever</h1></div>

    </div>
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
